# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

- Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y

zsh:1: command not found: mamba
zsh:1: command not found: mamba

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [3]:
#Write your code here
html_data = requests.get('https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks').text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [4]:
html_data[760:783]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [5]:
#Replace the dots below
soup= BeautifulSoup(html_data, 'html.parser')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [6]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr')[1:]:
    col = row.find_all('td')
    name = col[1].text.rstrip('\n')
    cap = col[2].text.rstrip('\n')
    rows = pd.DataFrame({"Name":[name],"Market Cap (US$ Billion)":[cap]})
    data = pd.concat([data, rows], ignore_index=True)

In [7]:
data

               Name Market Cap (US$ Billion)
0     United States                       13
1             China                       12
2    United Kingdom                        5
3            Canada                        5
4         Australia                        4
5             Japan                        4
6            France                        3
7             Spain                        2
8            Brazil                        2
9             India                        2
10        Singapore                        3
11      Switzerland                        2
12            Italy                        2
13        Hong Kong                        2
14        Indonesia                        1
15           Russia                        1
16      Netherlands                        1

**Question 3** Display the first five rows using the `head` function.

In [8]:
#Write your code here
data.head()

              Name Market Cap (US$ Billion)
0    United States                       13
1            China                       12
2   United Kingdom                        5
3           Canada                        5
4        Australia                        4


### Loading the Data

Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function.

In [9]:
#Write your code here
data.to_json('bank_market_cap.json')

## Authors

James Gabriel